@model IEnumerable<MvcAzureCosmosDb.Models.Vehiculo>

@{
    ViewData["Title"] = "Vehiculos";
}

<h1>Vehiculos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p
<p>
    <a asp-controller="Coches" asp-action="BuscarCoche">Buscar Coche</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VelocidadMaxima)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
               <img src="@item.Imagen" style="width:90px;height:90px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VelocidadMaxima)
            </td>
            <td>
                    <a class="btn btn-success"
                   asp-area=""
                   asp-controller="Coches"
                   asp-action="Details"
                    asp-route-id="@item.Id"
                    >Detalles</a>

                    <a class="btn btn-danger"
                   asp-area=""
                   asp-controller="Coches"
                   asp-action="Delete"
                   asp-route-id="@item.Id"
                    >Delete</a>

                    <a class="btn btn-warning"
                   asp-area=""
                   asp-controller="Coches"
                   asp-action="Edit"
                   asp-route-id="@item.Id"
                    >EDITAR</a>
            </td>
        </tr>
}
    </tbody>
</table>
